.button {
    background: #EDF7B5;
    border-radius: 100px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
}
.forms main div .button {
    width: 300px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
