.button {
    background: #EDF7B5;
    border-radius: 100px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
}
.forms main div .button {
    width: 300px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.button:hover {
    background: #b7be8e;
}
header a:hover {
    height: 10px;
}
.swiper {
    --swiper-navigation-color: #828282;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
    --swiper-navigation-color: #605f5f;
    height: 60px; /* height on hover */
}